html, body {
    margin: 0;
    height: 95%;
    font-size: 15px;
    text-align: center;
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title h1 {
    text-transform: uppercase;
    color: #c5ced7;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.title h1:after,.title h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 0.5rem;
    background-color: #1e0909;
}

.error-msg {
    color: #ee1818;
}

#error-popup {
    position: absolute;
    top: 7rem;
    right: 5rem;
    width: fit-content;
}

#login-card-group {
    width: 75rem;
    height: 35rem;
    margin: 0 auto;
}

#index-grid {
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr 6fr / 1fr 1fr;
    justify-items: center;
}

#index-title {
    grid-area: 1 / 1 / 2 / 3;
}

#index-desc {
    grid-area: 2 / 1 / 3 / 2;
    color: white;
}

#index-endpoint {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

#index-cert-table {
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    font-size: 0.9rem;
}

.img-download {
    width: 5rem;
}

.img-delete {
    width: 1.6rem;
    transform: translateY(2px);
}

#pem-textarea {
    font-size: 0.8rem;
}

#secret {
    display: none;
    font-size: 1.15rem;
}